body {
  margin:auto;
  font-family: 'Averia Serif Libre', cursive;
  background: #5d3a3a;
}

h1 {
  margin-left: 25%;
  font-family: 'Old Standard TT', serif;
  font-size: 45px;
}

#outside-container {
  display: flex;
  justify-content: space-around;
}

#right-container {
  width: 300px;;
  text-align: center;
}







